<ion-view title="Components">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/TEqJLhEsSui5Z4ypg7Hu_camino.jpg" width="50%" height="auto">
        </div>
        <form class="list"></form>
        <form class="list" action="formAction" method="formMethod">
            <ion-toggle toggle-class="toggle-positive" name="toggleOne">Toggle</ion-toggle>
            <ion-item class="range range-positive">Range
                <input type="range" value="50" min="0" max="100" name="rangeOne">
            </ion-item>
            <ion-radio name="radioOne">Radio</ion-radio>
            <ion-radio name="radioOne">Radio two</ion-radio>
            <ion-item class="item-divider">Item</ion-item>
            <label class="item item-select" name="selectOne">
                <span class="input-label">Select</span>
                <select>
                    <option>Uno</option>
                    <option>Dos</option>
                    <option>Tres</option>
                </select>
            </label>
            <ion-checkbox name="checkboxOne">Checkbox</ion-checkbox>
            <label class="item item-input" name="inputText">
                <span class="input-label">Input</span>
                <input type="text" placeholder="input text">
            </label>
        </form>
    </ion-content>
</ion-view>