<ion-view title="Welcome">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/hG6NIBP5RdOVopoaD9QR_camino.jpg) no-repeat center;" class="has-header">
        <div class="button-bar">
            <a href="#/side-menu/login" class="button button-stable button-outline button-block ">Login</a>
            <a href="#/signup" class="button button-stable button-outline button-block ">Signup</a>
            <a href="#/side-menu/blank" class="button button-stable button-outline button-block ">Blank</a>
        </div>
    </ion-content>
</ion-view>